.btn_edit,
.btn_delete {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
}

.btn_edit {
    background-color: #ffd54f;
    color: #fff;
}

.btn_delete {
    background-color: #f44336;
    color: #fff;
}

.btn_edit:hover,
.btn_delete:hover {
    filter: brightness(80%);
}